* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}
@media (max-height: 882px) {
  html {
    height: auto !important;
  }
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #232323;
}

body {
  grid-template-columns: 17.4% 82.6%;
}

.h {
  height: 100%;
}

.w {
  width: 100%;
}

.d-g {
  display: grid;
}

.d-f {
  display: flex;
  align-items: center;
}

.space {
  justify-content: space-between;
}

.f-start {
  align-items: flex-start;
}

.f-end {
  justify-content: flex-end;
}

.d-f-c {
  display: flex;
  flex-direction: column;
}

.g-1 {
  gap: 1px;
}

.g-2 {
  gap: 2px;
}

.g-3 {
  gap: 3px;
}

.g-4 {
  gap: 4px;
}

.g-5 {
  gap: 5px;
}

.g-6 {
  gap: 6px;
}

.g-7 {
  gap: 7px;
}

.g-8 {
  gap: 8px;
}

.g-9 {
  gap: 9px;
}

.g-10 {
  gap: 10px;
}

.g-11 {
  gap: 11px;
}

.g-12 {
  gap: 12px;
}

.g-13 {
  gap: 13px;
}

.g-14 {
  gap: 14px;
}

.g-15 {
  gap: 15px;
}

.g-16 {
  gap: 16px;
}

.g-17 {
  gap: 17px;
}

.g-18 {
  gap: 18px;
}

.g-19 {
  gap: 19px;
}

.g-20 {
  gap: 20px;
}

.g-21 {
  gap: 21px;
}

.g-22 {
  gap: 22px;
}

.g-23 {
  gap: 23px;
}

.g-24 {
  gap: 24px;
}

.g-25 {
  gap: 25px;
}

.g-26 {
  gap: 26px;
}

.g-27 {
  gap: 27px;
}

.g-28 {
  gap: 28px;
}

.g-29 {
  gap: 29px;
}

.g-30 {
  gap: 30px;
}

.g-31 {
  gap: 31px;
}

.g-32 {
  gap: 32px;
}

.g-33 {
  gap: 33px;
}

.g-34 {
  gap: 34px;
}

.g-35 {
  gap: 35px;
}

.g-36 {
  gap: 36px;
}

.g-37 {
  gap: 37px;
}

.g-38 {
  gap: 38px;
}

.g-39 {
  gap: 39px;
}

.g-40 {
  gap: 40px;
}

.g-41 {
  gap: 41px;
}

.g-42 {
  gap: 42px;
}

.g-43 {
  gap: 43px;
}

.g-44 {
  gap: 44px;
}

.g-45 {
  gap: 45px;
}

.g-46 {
  gap: 46px;
}

.g-47 {
  gap: 47px;
}

.g-48 {
  gap: 48px;
}

.g-49 {
  gap: 49px;
}

.g-50 {
  gap: 50px;
}

.g-51 {
  gap: 51px;
}

.g-52 {
  gap: 52px;
}

.g-53 {
  gap: 53px;
}

.g-54 {
  gap: 54px;
}

.g-55 {
  gap: 55px;
}

.g-56 {
  gap: 56px;
}

.g-57 {
  gap: 57px;
}

.g-58 {
  gap: 58px;
}

.g-59 {
  gap: 59px;
}

.g-60 {
  gap: 60px;
}

.g-61 {
  gap: 61px;
}

.g-62 {
  gap: 62px;
}

.g-63 {
  gap: 63px;
}

.g-64 {
  gap: 64px;
}

.g-65 {
  gap: 65px;
}

.g-66 {
  gap: 66px;
}

.g-67 {
  gap: 67px;
}

.g-68 {
  gap: 68px;
}

.g-69 {
  gap: 69px;
}

.g-70 {
  gap: 70px;
}

.menu {
  padding: 3.3rem 2.5rem 0 4.1rem;
  position: relative;
  border-right: solid 1px #e6eff5;
  max-width: 25rem;
}
.menu svg {
  height: 2.5rem;
  width: 2.5rem;
  color: #b1b1b1;
}
.menu img {
  height: 3.6rem;
  max-width: 19rem;
}
.menu a:link,
.menu a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.178rem;
  color: #b1b1b1;
  transition: all 0.3s;
}
.menu a:hover,
.menu a:active {
  color: #1814f3;
}
.menu .colored-page-txt:link, .menu .colored-page-txt:visited {
  color: #1814f3;
}
@media (max-width: 1024px) {
  .menu {
    padding: 2.5rem 1.7rem 0 3rem;
    gap: 3.6rem;
  }
  .menu svg {
    height: 2rem;
    width: 2rem;
  }
  .menu a:link,
  .menu a:visited {
    font-size: 1.6rem;
  }
  .menu .menu-elements {
    gap: 3.5rem;
  }
}
@media (max-width: 902px) {
  .menu {
    padding: 2.5rem 1.5rem 0 1.3rem;
    gap: 3.6rem;
  }
  .menu img {
    height: 2.5rem;
    max-width: 13rem;
  }
  .menu svg {
    height: 2rem;
    width: 2rem;
  }
  .menu a:link,
  .menu a:visited {
    font-size: 1.4rem;
  }
  .menu .menu-elements {
    gap: 3.5rem;
  }
  .menu .menu-elements div {
    gap: 1rem;
  }
}
@media (max-width: 653px) {
  .menu {
    display: none;
  }
}

.opened-page {
  height: 6rem;
  width: 2.5rem;
  background-color: #1814f3;
  border-radius: 1rem;
  position: absolute;
  transform: translate(-240%, 990%);
}
@media (max-width: 1024px) {
  .opened-page {
    height: 5rem;
    transform: translate(-200%, 1025%);
  }
}
@media (max-width: 902px) {
  .opened-page {
    height: 3rem;
    transform: translate(-133%, 1704%);
    border-radius: 0.5rem;
  }
}

.menu-mbl {
  display: none;
}

.main {
  top: 0;
}

.nav-container {
  border-bottom: solid 1px #e6eff5;
}

.mobile-search {
  display: none;
}

.nav {
  padding: 2rem 4rem;
  justify-content: space-between;
}
.nav .nav-text {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.389rem;
  color: #343c6a;
}
.nav .search-bar {
  padding: 1.5rem 4.3rem 1.5rem 2.5rem;
  border-radius: 40rem;
  background-color: #f5f7fa;
}
.nav .search-icon {
  height: 2rem;
  width: 2rem;
}
.nav .search-text {
  color: #123288;
  background: none;
  font-size: 1.6rem;
  border: none;
}
.nav ::placeholder {
  color: #8ba3cb;
  font-size: 1.6rem;
}
.nav .nav-svgs {
  padding: 1.25rem;
  background-color: #f5f7fa;
  border-radius: 40rem;
}
.nav .nav-svgs .nav-svg {
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 653px) {
  .nav .nav-svgs {
    display: none;
  }
}
.nav .nav-elements {
  position: relative;
}
.nav .nav-elements .svg-bg {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  background-color: #f5f7fa;
  border-radius: 50%;
}
.nav .nav-elements .bg-1 {
  transform: translate(22%, 2%);
}
.nav .nav-elements .bg-2 {
  transform: translate(50%, -50%);
}
@media (max-width: 1024px) {
  .nav {
    padding: 2rem 3rem 2rem 2.5rem;
  }
  .nav .nav-text {
    font-size: 2.5rem;
  }
  .nav .search-bar {
    padding: 1.2rem 8.7rem 1.2rem 2rem;
  }
  .nav .search-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .nav .search-text {
    font-size: 1.2rem;
  }
  .nav ::placeholder {
    font-size: 1.2rem;
  }
  .nav .nav-svgs {
    padding: 1.1rem;
  }
  .nav .nav-svgs .nav-svg {
    height: 1.8rem;
    width: 1.8rem;
  }
  .nav img {
    width: 6rem;
  }
  .nav .nav-usage {
    gap: 2.5rem;
  }
  .nav .nav-elements {
    gap: 2rem;
  }
}
@media (max-width: 902px) {
  .nav {
    padding: 1.5rem 2.5rem;
  }
  .nav .nav-text {
    font-size: 2.2rem;
  }
  .nav .search-bar {
    padding: 1rem;
  }
  .nav .nav-svgs {
    padding: 1rem;
  }
  .nav .nav-svgs .nav-svg {
    height: 1.8rem;
    width: 1.8rem;
  }
  .nav .nav-usage {
    gap: 0.5rem;
  }
  .nav .nav-elements {
    gap: 0.5rem;
  }
  .nav img {
    width: 4rem;
  }
}
@media (max-width: 653px) {
  .nav {
    padding: 2.5rem 2.5rem 2rem 2.5rem;
  }
  .nav img {
    width: 3.5rem;
  }
}

@media (max-width: 653px) {
  .menu-mbl {
    display: block;
    height: 2.5rem;
    width: 2rem;
  }
  .search-bar-des {
    display: none;
  }
  .nav-container {
    border-bottom: solid 1px #e6eff5;
  }
  .nav-container .mobile-search {
    display: block;
    padding: 0 2.5rem 2rem 2.5rem;
  }
  .nav-container .search-bar {
    padding: 1rem;
    border-radius: 40rem;
    background-color: #f5f7fa;
  }
  .nav-container .search-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .nav-container .search-text {
    color: #123288;
    background: none;
    font-size: 1.6rem;
    border: none;
  }
  .nav-container ::placeholder {
    color: #8ba3cb;
    font-size: 1.6rem;
  }
}
@media (max-width: 375px) {
  .nav .nav-text {
    font-size: 2rem;
  }
  .nav-container .search-bar {
    padding: 1.2rem 1.48rem 1.2rem 1.9rem;
  }
  .nav-container .search-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
  .nav-container .search-text {
    font-size: 1.2rem;
  }
  .nav-container ::placeholder {
    font-size: 1.2rem;
  }
}
.main {
  top: 0;
}

.main-inner {
  background-color: #f5f7fa;
  padding: 2.5rem 4rem;
}
@media (max-width: 1300px) {
  .main-inner {
    padding: 2rem 2.5rem;
  }
}
@media (max-width: 976px) {
  .main-inner {
    padding: 2rem 1.5rem;
    gap: 1rem;
  }
}
@media (max-width: 819px) {
  .main-inner {
    padding: 2.5rem 3rem;
    grid-template-columns: 1fr;
    align-content: baseline;
    gap: 2.2rem;
  }
}
@media (max-width: 480px) {
  .main-inner {
    padding: 2.2rem 2.5rem 2.5rem 2.5rem;
  }
}

.main-inner {
  height: 100%;
}

.form-container {
  background-color: white;
  padding: 3.7rem 3rem 3rem 3rem;
  border-radius: 2.5rem;
  height: fit-content;
}
@media (max-width: 1024px) {
  .form-container {
    padding: 2.5rem;
  }
}

.transactions-menu {
  border-bottom: solid #ebeef2 1px;
  padding: 0 1rem 0.8rem 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.transactions-menu .tran-link:link,
.transactions-menu .tran-link:visited {
  text-wrap: nowrap;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.573rem;
}
.transactions-menu .unchecked-link:link,
.transactions-menu .unchecked-link:visited {
  color: #718ebf;
}
.transactions-menu .unchecked-link:hover,
.transactions-menu .unchecked-link:active {
  color: #1814f3;
}
.transactions-menu .checked-link:link,
.transactions-menu .checked-link:visited {
  color: #1814f3;
}
.transactions-menu .checked-link {
  position: relative;
}
.transactions-menu .checked-link .indicator {
  position: absolute;
  transform: translate(-9%, 23%);
  width: 120%;
  height: 100%;
  background-color: #1814f3;
  border-radius: 1rem;
}
@media (max-width: 1024px) {
  .transactions-menu .tran-link:link,
  .transactions-menu .tran-link:visited {
    font-size: 1.2rem;
  }
}
@media (max-width: 510px) {
  .transactions-menu {
    gap: 5rem;
    padding-left: 1rem;
  }
}

.details-cont {
  grid-template-columns: 12% 85%;
  margin-bottom: 2rem;
}
.details-cont .profile-pic-container {
  height: fit-content;
  position: relative;
}
.details-cont .edit-pen {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-10%, 360%);
  border: none;
  background: none;
  cursor: pointer;
}
.details-cont .edit-pen-svg {
  height: 3rem;
  width: 3rem;
}
@media (max-width: 1024px) {
  .details-cont {
    grid-template-columns: 15% 82%;
    gap: 3rem;
  }
}
@media (max-width: 819px) {
  .details-cont {
    grid-template-columns: 20% 77%;
    gap: 0.5rem;
  }
}

.input-cont {
  grid-template-columns: 1fr 1fr;
  font-family: "Inter", sans-serif;
}
.input-cont .input label {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.936rem;
  color: #232323;
}
.input-cont .input input,
.input-cont .input select {
  padding: 1.6rem 0 1.6rem 2rem;
  border-radius: 1.5rem;
  outline: none;
  border: solid 1px #dfeaf2;
  font-size: 1.6rem;
  color: #343c6a;
}
.input-cont .input input::placeholder {
  font-size: 1.5rem;
  line-height: 1.815rem;
  color: #718ebf;
}
.input-cont .input input::-webkit-outer-spin-button,
.input-cont .input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-cont .select-rel {
  position: relative;
}
.input-cont .select-rel .select-svg {
  position: absolute;
  height: 0.7rem;
  width: 1.2rem;
  bottom: 0;
  right: 0;
  transform: translate(-180%, -300%);
}
@media (max-width: 1024px) {
  .input-cont {
    gap: 2rem;
  }
  .input-cont .input label {
    font-size: 1.2rem;
  }
  .input-cont .input input,
  .input-cont .input select {
    padding: 1.3rem 0 1.2rem 1.5rem;
    font-size: 1.2rem;
  }
  .input-cont .input input::placeholder {
    font-size: 1.2rem;
  }
}

.save-btn {
  padding: 1.4rem 7.4rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.815rem;
  color: white;
  background-color: #1814f3;
  border-radius: 1rem;
  border: 1px #1814f3 solid;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .save-btn {
    padding: 1.1rem 4.7rem;
    font-size: 1.5rem;
  }
}

.save-btn:hover {
  background-color: white;
  border: 1px #1814f3 solid;
  color: #1814f3;
}
