////////// MONEY GOES
//



.money-goes {
  display: flex;
  grid-column: 1/-1;
  justify-content: space-between;
  padding-bottom: $padding;
  gap: 1rem;
  

  .money-card {
    padding: $padding $padding - 0.2rem;
    background-color: white;
    border-radius: $b-r-av;

    svg {
      height: 7rem;
      width: 7rem;
    }

    .money-goes-text {
      font-family: "Inter", sans-serif;

      .money-type {
        text-wrap: nowrap;
        font-size: $fs-sm;
        line-height: 1.936rem;
        color: $heading-blue;
      }

      .dollars {
        font-size: $fs-LG - 0.3rem;
        font-weight: 600;
        line-height: 3.026rem;
      }
    }
  }

  .money-card-padd {
    padding: $padding $padding * 2.2;
  }

  @include tab-lg {
    .money-card {
      svg {
        height: 5rem;
        width: 5rem;
      }

      .money-goes-text {
        .money-type {
          font-size: $fs-SM;
        }

        .dollars {
          font-size: $fs-sm;
        }
      }
    }
  }

  @include tab {
    .money-card {
      padding: $padding $padding - 1.2rem;
    }

    .money-card-padd {
      padding: $padding $padding * 1.5;
    }
  }


  @include tab-ver {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .money-card-padd{
      grid-column: 1/-1;
      padding: $padding $padding * 2.8;
      justify-self: center;
    }
  }

  @include mbl-lg {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0;
    .money-card {
      justify-self: auto;
      padding: $padding 8.5rem $padding 5rem;
      width: 100%;

      svg {
        height: 4.5rem;
        width: 4.5rem;
      }

      .money-goes-text {
        .money-type {
          font-size: $fs-SM;
        }

        .dollars {
          font-size: $fs-sm;
        }
      }

    }.money-card-padd{
     grid-column: 1;
     padding: $padding 13.6rem $padding 5rem;
     
    }
  }

  @include mbl {
    
  }

  @include mbl-s {
.money-card{
  padding: $padding 0 $padding 1rem;
}
  }
}

@media (min-width: 1025px) {
  .money-goes {
    display: none;
  }
}
