@use "sass:math";

////////////////
//////// MENU

.menu {
  padding: 3.3rem 2.5rem 0 4.1rem;
  position: relative;
  border-right: solid 1px $border;
  max-width: $menu-width;

  svg {
    height: $svg;
    width: $svg;
    color: $grey;
  }

  img {
    height: 3.6rem;
    max-width: 19rem;
  }

  a:link,
  a:visited {
    text-decoration: none;
    font-size: $fs-nm;
    font-weight: 500;
    line-height: 2.178rem;
    color: $grey;
  }

  @include tablette {
    padding: 2.5rem 1.7rem 0 3rem;
    gap: 3.6rem;

    svg {
      height: $svg - 0.5rem;
      width: $svg - 0.5rem;
    }
    a:link,
    a:visited {
      font-size: $fs-sm;
    }

    .menu-elements {
      gap: 3.5rem;
    }
  }

  @include tab-sm {
    padding: 2.5rem 1.5rem 0 1.3rem;
    gap: 3.6rem;

    img {
      height: 2.5rem;
      max-width: 13rem;
    }

    svg {
      height: $svg - 0.5rem;
      width: $svg - 0.5rem;
    }

    a:link,
    a:visited {
      font-size: $fs-sm - 0.2rem;
    }

    .menu-elements {
      gap: 3.5rem;

      div {
        gap: 1rem;
      }
    }
  }

  @include mbl-hor {
    display: none;
  }
}

.opened-page {
  height: $svg * 2.4;
  width: $svg;
  background-color: $primary-light;
  border-radius: $b-r-sm;
  position: absolute;

  transform: translate(-240%, 240%);

  @include tablette {
    height: $svg * 2;
    transform: translate(-200%, 230%);
  }

  @include tab-sm {
    height: 3rem;
    transform: translate(-133%, 377%);
    border-radius: 0.5rem;
  }
}

.menu-mbl {
  display: none;
}


////////////////
//////// NAV

.nav-container {
  border-bottom: solid 1px $border;
}

.mobile-search {
  display: none;
}

.nav {
  padding: $padding $padding * 2;

  .nav-text {
    font-size: $fs-LG;
    font-weight: 600;
    line-height: 3.389rem;
    color: $dark-pri;
  }

  .search-bar {
    padding: $padding - 0.5rem 4.3rem $padding - 0.5rem $padding + 0.5rem;
    border-radius: $b-r-lg;
    background-color: $main;
  }

  .search-icon {
    height: $svg - 0.5rem;
    width: $svg - 0.5rem;
  }

  .search-text {
    color: $primary;
    background: none;
    font-size: $fs-sm;
    border: none;
  }

  ::placeholder {
    color: $blue-grey;
    font-size: $fs-sm;
  }

  .nav-svgs {
    .nav-svg {
      height: $svg;
      width: $svg;
    }
    padding: 1.25rem;
    background-color: $main;
    border-radius: $b-r-lg;
    @include mbl-hor {
      display: none;
    }
  }

  .nav-elements {
    position: relative;

    .svg-bg {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: $svg * 2;
      width: $svg * 2;
      background-color: $main;
      border-radius: 50%;
    }

    .bg-1 {
      transform: translate(22%, 2%);
    }

    .bg-2 {
      transform: translate(50%, -50%);
    }
  }

  @include tablette {
    padding: $padding $padding + 1rem $padding $padding + 0.5rem;

    .nav-text {
      font-size: $fs-LG - 0.3rem;
    }

    .search-bar {
      padding: $padding - 0.8rem ($padding * 4) + 0.7rem $padding - 0.8rem
        $padding;
    }

    .search-icon {
      height: $svg - 1rem;
      width: $svg - 1rem;
    }

    .search-text {
      font-size: $fs-SM;
    }

    ::placeholder {
      font-size: $fs-SM;
    }

    .nav-svgs {
      .nav-svg {
        height: $svg-sm;
        width: $svg-sm;
      }
      padding: 1.1rem;
    }

    img {
      width: 6rem;
    }

    .nav-usage {
      gap: 2.5rem;
    }
    .nav-elements {
      gap: 2rem;
    }
  }

  @include tab-sm {
    padding: $padding - 0.5rem 2.5rem;

    .nav-text {
      font-size: $fs-lg;
    }

    .search-bar {
      padding: $padding - 1rem;
    }

    .nav-svgs {
      .nav-svg {
        height: $svg-sm;
        width: $svg-sm;
      }
      padding: 1rem;
    }

    .nav-usage {
      gap: 0.5rem;
    }

    .nav-elements {
      gap: 0.5rem;
    }

    img {
      width: 4rem;
    }
  }

  @include mbl-hor {
    padding: $padding + 0.5rem $padding + 0.5rem $padding $padding + 0.5rem;

    img {
      width: 3.5rem;
    }
  }
}

@include mbl-hor {
  .menu-mbl {
    display: block;
    height: 2.5rem;
    width: 2rem;
  }

  .search-bar-des {
    display: none;
  }
  .nav-container {
    border-bottom: solid 1px $border;

    .mobile-search {
      display: block;
      padding: 0 2.5rem 2rem 2.5rem;
    }

    .search-bar {
      padding: $padding - 1rem;
      border-radius: $b-r-lg;
      background-color: $main;
    }

    .search-icon {
      height: $svg - 1rem;
      width: $svg - 1rem;
    }

    .search-text {
      color: $primary;
      background: none;
      font-size: $fs-sm;
      border: none;
    }

    ::placeholder {
      color: $blue-grey;
      font-size: $fs-sm;
    }
  }
}

@include mbl {
  .nav {
    .nav-text {
      font-size: $fs-lg - 0.2rem;
    }
  }

  .nav-container {
    .search-bar {
      padding: 1.2rem 1.48rem 1.2rem 1.9rem;
    }

    .search-icon {
      height: $svg - 0.9rem;
      width: $svg - 0.9rem;
    }

    .search-text {
      font-size: $fs-SM;
    }

    ::placeholder {
      font-size: $fs-SM;
    }
  }
}