// variables
@import "variables";

//generals
@import "generals";

// layouts
@import "layouts";

/// // MEDIA QUERRIES

@import "mediaquerries";

/// COMPONENTS

@import "main-maininner";
@import "menu-nav";
@import "cards";
@import "transactions";

///////////////////////////
/// PAGES

.pages-nav {
  justify-content: flex-end;
  font-family: "Inter", sans-serif;
  grid-column: 1/-1;

  .pages-svg {
    width: 2rem;
    height: 1.5rem;
  }

  .f-end {
    align-self: flex-end;
  }

  .pages-text {
    font-size: $fs-sm;
    font-weight: 500;
    line-height: 1.815rem;
    color: $primary-light;
  }

  .pages-numb,
  .opened {
    text-decoration: none;
    font-size: $fs-sm;
    font-weight: 500;
    line-height: 1.815rem;
    color: white;
  }

  .pages-numb:link,
  .pages-numb:visited {
    color: $primary-light;
    transition: all 0.4s;
  }

  .pages-numb:hover {
    color: white;
    padding: 1.1rem 1.6rem;
    background-color: $primary-light;
    border-radius: $b-r-sm;
  }

  .opened:link,
  .oponed:visited {
    color: white;
    padding: 1.1rem 1.6rem;
    background-color: $primary-light;
    border-radius: $b-r-sm;
  }

  @include tablette {
    .pages-svg {
      width: 2rem;
      height: 1.5rem;
    }

    .pages-text {
      font-size: $fs-SM;
    }

    .pages-numb,
    .opened {
      font-size: $fs-SM;
    }

    .opened:link,
    .oponed:visited {
      padding: 0.7rem 1.2rem;
    }
  }

  @include mbl-lg {
    .pages-svg {
      width: 1rem;
      height: 1.5rem;
    }
  }
}
