// variables
@import "variables";

//generals
@import "generals";

// layouts
@import "layouts";

/// // MEDIA QUERRIES

@import "mediaquerries";

/// COMPONENTS

@import "menu-nav";
@import "main-maininner";
@import "card";
@import "money-spendings";

.card-invoice {
  display: none;
  @include tablette {
    display: flex;
  }
}

.invoice-tab {
  display: none;
  @include tablette {
    display: flex;
  }
}

.invoice-lg {
  display: flex;
  @include tablette {
    display: none;
  }
}

////////////// TRANSACTIONS
///

.headings {
  padding-bottom: $padding;
  @include tablette {
    padding-bottom: $padding - 0.4rem;
  }

  .heading {
    font-size: $fs-lg;
    font-weight: 600;
    line-height: 2.663rem;
    color: $dark-pri;
  }

  @include tablette {
    .heading {
      font-size: $fs-sm;
    }
  }
  @include mbl-lg {
    padding: 0 0 1.2rem 0;
  }
}

.tran-preview-section {
  .tran-table {
    border-collapse: collapse;
    padding: $padding + 0.5rem;
    background-color: white;
    border-radius: $b-r-nm;

    td {
      padding-bottom: 1rem;
    }

    font-family: "Inter", sans-serif;

    .tran-svg {
      height: 5.5rem;
      width: 5.5rem;
    }

    .tran-title {
      font-size: $fs-sm;
      font-weight: 500;
      line-height: 1.93rem;
      color: $black;
    }

    .tran-details {
      font-size: $fs-sm - 0.1rem;
      line-height: 1.815rem;
      color: $heading-blue;
    }
    @include tab-l {
      padding: 1.5rem 1.8rem 0 1.8rem;

      .tran-svg {
        height: 4%;
        width: 4rem;
      }

      .tran-title {
        font-size: $fs-SM;
      }

      .tran-details {
        font-size: $fs-SM;
      }
    }
  }

  .lost {
    color: $accent !important;
  }

  .won {
    color: $green-expenses !important;
  }

  @include tab {
    .disapear {
      display: none;
    }
  }

  @include mbl-LG {
    .disapear-1 {
      display: none;
    }
  }

  @include mbl-lg {
    .disapear-2 {
      display: none;
    }

    .tran-table {
      padding: $padding;

      td {
        padding: 0.6rem 0;
      }

      .tran-svg {
        height: 4.5rem;
        width: 4.5rem;
      }

      .tran-title {
        font-size: $fs-sm - 0.2rem;
      }

      .tran-details {
        font-size: $fs-SM;
      }
    }
  }

  @include mbl-sm {
    .disapear-3 {
      display: none;
    }
  }
}

////////////// INVOICE
///

.invoice-sent-section {
  font-family: "Inter", sans-serif;

  .invoices-container {
    background-color: white;
    padding: 1.8rem 3.1rem 3rem 2.5rem;
    border-radius: $b-r-nm;
  }

  .invoice-info {
    position: relative;

    .invoice-icon {
      height: 6rem;
      width: 6rem;
    }

    .icon-icon {
      height: 2.5rem;
      width: 2.5rem;
      position: absolute;
      left: 0;
      transform: translate(70%, -5%);
    }
    .invoice-text {
      .invoice-name {
        font-size: $fs-sm;
        font-weight: 500;
        line-height: 1.93rem;
        color: $darker-blue;
      }
      .invoice-time {
        font-size: $fs-sm;
        line-height: 1.936rem;
        color: $heading-blue;
      }
    }
  }

  .invoice-money {
    font-size: $fs-sm;
    line-height: 1.936rem;
    color: $heading-blue;
  }

  .invoices-container {
    padding: $padding - 0.5rem $padding;
  }

  @include tab-l {
    .invoice-info {
      gap: 1rem;
    }

    .invoice-money {
      font-size: $fs-sm - 0.3rem;
    }

    .invoices-container {
      padding: $padding;
    }

    .invoice-info {
      .invoice-icon {
        height: 4.5rem;
        width: 4.5rem;
      }

      .icon-icon {
        height: 1.8rem;
        width: 1.8rem;
      }
      .invoice-text {
        .invoice-name {
          font-size: $fs-sm - 0.2rem;
        }

        .invoice-time {
          font-size: $fs-SM-sm;
        }
      }
    }
  }

  @include tablette {
    .disapear-0 {
      display: none;
    }

    @include tab {
      .invoices-container {
        padding: $padding - 0.5rem;
      }
    }

    grid-column: 2;
  }
}

////////////// CHART
///

.chart-section {
  font-family: "Inter", sans-serif;
  .chart-img {
    width: 100%;
    max-width: 68rem;
    align-self: center;
  }

  .chart-container {
    background-color: white;
    padding: 2.5rem 3rem;
    border-radius: $b-r-nm;
    @include tab {
      .chart-gap {
        gap: 1rem;
        .chart-gap-gap {
          gap: 0.5rem;
        }
      }
    }
  }

  .chart-describtion {
    color: $heading-blue;
    font-size: $fs-sm;

    span {
      color: $dark-pri;
    }
  }

  .rectangle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.5rem;
  }

  .chart-color-1 {
    background-color: $chart-blue;
    box-shadow: 0px 0px 15px 0px #11348580 inset;
  }

  .chart-color-2 {
    background-color: $accent-light;
    box-shadow: 0px 0px 15px 0px #ac0d6c80 inset;
  }

  @include tab-l {
    .chart-describtion {
      font-size: $fs-SM;
    }
  }

  @include tablette {
    .chart-container {
      padding: 3rem;
    }
  }

  @include tab {
    .chart-container {
      padding: 3rem 2.25rem;
    }
  }

  .chart-img-sm {
    display: none;
  }

  @include mbl-lg {
    .chart-img-lg {
      display: none;
    }
    .chart-img-sm {
      display: inline;
    }
  }
}

.chart-sm {
  display: none;
}

@include tab-ver {
  .chart-lg {
    display: none;
  }

  .chart-sm {
    display: block;
  }

  .disapear-4 {
    display: none;
  }

  .chart-code {
    justify-content: flex-end;
  }
}

///////////////////////////
/// PAGES

.pages-nav {
  justify-content: flex-end;
  font-family: "Inter", sans-serif;
  grid-column: 1/-1;
  padding: $padding;

  .pages-svg {
    width: 2rem;
    height: 1.5rem;
  }

  .pages-text {
    font-size: $fs-sm;
    font-weight: 500;
    line-height: 1.815rem;
    color: $primary-light;
  }

  .pages-numb,
  .opened {
    text-decoration: none;
    font-size: $fs-sm;
    font-weight: 500;
    line-height: 1.815rem;
    color: white;
  }

  .pages-numb:link,
  .pages-numb:visited {
    color: $primary-light;
    transition: all 0.4s;
    padding: 1.1rem 1.6rem;
  }

  .pages-numb:hover,
  .pages-numb:active {
    color: white;
    padding: 1.1rem 1.6rem;
    background-color: $primary-light;
    border-radius: $b-r-sm;
  }

  /* .opened:link,
  .oponed:visited {
    color: white;
    padding: 1.1rem 1.6rem;
    background-color: $primary-light;
    border-radius: $b-r-sm;
  } */

  @include tablette {
    .pages-svg {
      width: 2rem;
      height: 1.5rem;
    }

    .pages-text {
      font-size: $fs-SM;
    }

    .pages-numb {
      font-size: $fs-SM;
    }

    .pages-numb:link,
    .pages-numb:visited {
      padding: 0.7rem 1.2rem;
    }
  }

  @include mbl-lg {
    .pages-svg {
      width: 1rem;
      height: 1.5rem;
    }
  }

  @include mbl-lg {
    .pages-numb:link,
    .pages-numb:visited {
      padding: 0.5rem 1.1rem;
    }

    .pages-numb:hover {
      padding: 0.5rem 1.1rem;
    }
  }

  @include mbl-s {
    display: none;
  }
}
