$primary: #123288;
$primary-light: #1814f3;
$dark-pri: #343c6a;
$heading-blue: #718ebf;
$border: #e6eff5;

$accent: #fe5c73;

$green-expenses: #16dbcc;

$blue-grey: #8ba3cb;

$main: #f5f7fa;
$light-main: #edf0f7;

$black: #232323;
$grey: #b1b1b1;



$brd-white: #dfeaf2;
$brd-tran: #ebeef2;

$f: 1px;
$svg-sm: 1.8rem;
$svg: 2.5rem;

$fs-SM-sm: 1rem;
$fs-SM: 1.2rem;
$fs-sm: 1.6rem;
$fs-nm: 1.8rem;
$fs-lg: 2.2rem;
$fs-LG: 2.8rem;

$b-r-sm: 1rem;
$b-r-av: 2rem;
$b-r-nm: 2.5rem;
$b-r-lg: 40rem;

$padding: 2rem;

$menu-width: 25rem;
